body {
    font-family: 'montserrat', sans-serif;
    overflow-x: hidden;
}

#menu li > a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(47, 46, 46);
}

#menu form > button{
    font-size: 16px;
    font-weight: bold;
}

.carousel-inner{
    max-height:50rem ;
}

.contenedor__cards {
    width: 75%;
}































/* media queries */
@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }
}